
((digest . "3e42a54be9cd85d19a6ef8d0af8a4ec4") (undo-list nil ("				<% if logged_in? %>
					<li><%= link_to \"Users\", '#' %></li>
					<li class=\"dropdown\">
						<a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\">
							Account <b class=\"caret\"></b>
						</a>
						<ul class=\"dropdown-menu\">
							<li><%= link_to \"Profile\", current_user %></li>
							<li><%= link_to \"Settings\", '#' %></li>
							<li class=\"divider\"></li>
							<li>
								<%= link_to \"Log out\", logout_path, method: :delete %>
							</li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to \"Log in\", login_path %></li>
				<% end %>
" . -281) ((marker) . -24) ((marker) . -24) ((marker) . -66) ((marker) . -66) ((marker) . -93) ((marker) . -93) ((marker) . -159) ((marker) . -159) ((marker) . -196) ((marker) . -196) ((marker) . -207) ((marker) . -207) ((marker) . -240) ((marker) . -240) ((marker) . -295) ((marker) . -295) ((marker) . -342) ((marker) . -342) ((marker) . -375) ((marker) . -375) ((marker) . -387) ((marker) . -387) ((marker) . -450) ((marker) . -450) ((marker) . -463) ((marker) . -463) ((marker) . -475) ((marker) . -475) ((marker) . -486) ((marker) . -486) ((marker) . -501) ((marker) . -501) ((marker) . -551) ((marker) . -551) ((marker) . -565) ((marker) . -565) ((marker) . -565) (t 23297 30467 894044 755000)))
